In [2]:
import pandas as pd

# Load the dataset
file_path = 'gwas_celltype_filterted.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()

,Genename,X,GENE,CHR,START,STOP,NSNPS,NPARAM,N,ZSTAT,P,X.1,cell_type,p_val,avg_log2FC,pct.1,pct.2,p_val_adj
0,ABAT,1,18,16,8733444,8888432,1107,105,455258,2.2912,0.010975,NaN,macrophage,5.023350e-01,0.574805,0.200,0.000,1.000000
1,ABAT,1,18,16,8733444,8888432,1107,105,455258,2.2912,0.010975,NaN,hybrid,2.232125e-03,-0.325814,0.197,0.319,1.000000
2,ABAT,1,18,16,8733444,8888432,1107,105,455258,2.2912,0.010975,NaN,astrocytes,8.295054e-08,0.278849,0.405,0.293,0.002272
3,ABHD10,576,55347,3,111662723,111722215,310,28,455258,2.2947,0.010876,NaN,macrophage,5.605091e-01,0.780858,0.400,0.250,1.000000
4,ABHD10,576,55347,3,111662723,111722215,310,28,455258,2.2947,0.010876,NaN,endothelial,1.885258e-01,-0.648312,0.000,0.214,1.000000

In [9]:
# Define thresholds for filtering
p_val_adj_threshold = 0.05
P =0.05

# Filter the data for significant differential expression
significant_genes = data[(data['p_val_adj'] < p_val_adj_threshold) & 
                         (data['P'].abs() < P)]

# Display the first few rows of the filtered data
significant_genes.head()
# Group and summarize the adjusted results by cell type
adjusted_summary_by_cell_type = significant_genes.groupby('cell_type').agg(
    Num_Significant_Genes=('Genename', 'nunique'),
    Avg_Log2FC=('avg_log2FC', 'mean'),
    Min_GWAS_P=('P', 'min'),
    Avg_ZSTAT=('ZSTAT', 'mean')
).reset_index()
adjusted_summary_by_cell_type

,cell_type,Num_Significant_Genes,Avg_Log2FC,Min_GWAS_P,Avg_ZSTAT
0,astrocytes,26,-0.023571,1.927900e-13,3.194850
1,microglia,25,0.280112,1.736400e-13,3.542232
2,neurons,11,0.003435,2.492200e-05,2.666955
3,oligodendrocytes,33,0.135646,1.530900e-10,2.829148
4,opc,13,0.170859,1.927900e-13,3.017162

In [3]:
# Adjusting the thresholds
adjusted_p_val_adj_threshold = 0.1  # Less stringent p-value threshold
adjusted_log2FC_threshold = 0.5     # Lower fold change threshold

# Re-filter the data with adjusted thresholds
adjusted_significant_genes = data[(data['p_val_adj'] < adjusted_p_val_adj_threshold) & 
                                  (data['avg_log2FC'].abs() > adjusted_log2FC_threshold)]

# Group and summarize the adjusted results by cell type
adjusted_summary_by_cell_type = adjusted_significant_genes.groupby('cell_type').agg(
    Num_Significant_Genes=('Genename', 'nunique'),
    Avg_Log2FC=('avg_log2FC', 'mean'),
    Min_GWAS_P=('P', 'min'),
    Avg_ZSTAT=('ZSTAT', 'mean')
).reset_index()

# Sorting by the number of significant genes for better interpretation
adjusted_summary_sorted = adjusted_summary_by_cell_type.sort_values(by='Num_Significant_Genes', ascending=False)

# Display the adjusted summary
adjusted_summary_sorted.head()

,cell_type,Num_Significant_Genes,Avg_Log2FC,Min_GWAS_P,Avg_ZSTAT
1,microglia,11,0.408751,7.792700e-07,2.887309
2,oligodendrocytes,11,0.449586,1.030600e-06,3.000018
0,astrocytes,5,-0.163080,1.927900e-13,3.574520
3,opc,4,0.760417,2.492200e-05,3.000350

In [4]:
# Extracting unique gene names and their corresponding GENE IDs for each cell type
significant_genes_ids_by_cell_type = adjusted_significant_genes.groupby('cell_type').apply(
    lambda x: x[['Genename', 'GENE']].drop_duplicates().reset_index(drop=True)
).reset_index().drop(columns='level_1')

# Renaming columns for clarity
significant_genes_ids_by_cell_type.columns = ['Cell Type', 'Gene Name', 'GENE ID']

# Display the list of significant genes with their GENE IDs by cell type
significant_genes_ids_by_cell_type.pivot(index='GENE ID', columns='Cell Type', values='Gene Name')

Cell Type astrocytes microglia oligodendrocytes     opc
GENE ID
348             APOE       NaN              NaN     NaN
558              NaN       AXL              NaN     NaN
563              NaN       NaN            AZGP1     NaN
1956             NaN       NaN              NaN    EGFR
2180             NaN     ACSL1              NaN     NaN
2289           FKBP5     FKBP5            FKBP5   FKBP5
3696           ITGB8       NaN              NaN     NaN
4643             NaN     MYO1E              NaN     NaN
5166             NaN      PDK4             PDK4     NaN
5336             NaN       NaN            PLCG2   PLCG2
5649             NaN       NaN             RELN     NaN
5921             NaN     RASA1              NaN     NaN
6653             NaN     SORL1              NaN     NaN
10154            NaN    PLXNC1              NaN     NaN
11155            NaN       NaN             LDB3     NaN
22834            NaN       NaN           ZNF652     NaN
26047            NaN       NaN          CNTNAP2     NaN
26115            NaN     TANC2              NaN     NaN
50809            NaN       NaN           HP1BP3  HP1BP3
55568        GALNT10   GALNT10              NaN     NaN
64092            NaN    SAMSN1              NaN     NaN
79870          BAALC       NaN              NaN     NaN
80000            NaN       NaN           GREB1L     NaN
222537           NaN       NaN           HS3ST5     NaN

In [6]:
import csv

# Function to process the GWAS file and extract rsIDs for given GENE IDs
def extract_rsids_for_genes(gwas_file_path, gene_ids):
    rsid_mapping = {}
    with open(gwas_file_path, 'r') as file:
        reader = csv.reader(file, delimiter='\t')
        for row in reader:
            # Skip header or metadata lines
            if row[0].startswith('#'):
                continue
            try:
                gene_id = int(row[0])  # Assuming the first element is the GENE ID
                rsids = row[2:]        # rsIDs start from the third element
                if gene_id in gene_ids:
                    rsid_mapping[gene_id] = rsids
            except ValueError:
                # Handle lines that don't start with a GENE ID integer
                continue
    return rsid_mapping

# Extracting unique GENE IDs from the significant genes data
unique_gene_ids = set(adjusted_significant_genes['GENE'].unique())

# Extract rsIDs for these GENE IDs
gene_to_rsid_mapping = extract_rsids_for_genes("/MAGMA_Files/GSE188545_RAW.35UP.10DOWN/gwas_Alz.tsv.35UP.10DOWN.genes.annot", unique_gene_ids)

# Checking a small part of the mapping to verify
list(gene_to_rsid_mapping.items())[:2]  # Displaying first two mappings as an example

[(50809,
  ['rs12743389',
   'rs78491441',
   'rs74059000',
   'rs61778528',
   'rs951805',
   'rs192201838',
   'rs528618788',
   'rs111754764',
   'rs12754117',
   'rs74549902',
   'rs76504397',
   'rs710311',
   'rs35933697',
   'rs72650888',
   'rs529162',
   'rs76739844',
   'rs12723152',
   'rs1888759',
   'rs112019559',
   'rs6670897',
   'rs186602606',
   'rs6668591',
   'rs6679753',
   'rs76722220',
   'rs12123092',
   'rs12130841',
   'rs541464',
   'rs11802176',
   'rs72650890',
   'rs17408019',
   'rs12121807',
   'rs17408061',
   'rs143662289',
   'rs17448349',
   'rs2274119',
   'rs667687',
   'rs148409310',
   'rs76336624',
   'rs12404954',
   'rs140054783',
   'rs12724604',
   'rs115766888',
   'rs147651581',
   'rs56356353',
   'rs145914118',
   'rs12729575',
   'rs12407704',
   'rs80124376',
   'rs77401417',
   'rs114080907',
   'rs114631712',
   'rs76505777',
   'rs188163659',
   'rs76298514',
   'rs142791317',
   'rs12126786',
   'rs658851',
   'rs12137996',
   'rs34081829',
   'rs12129758',
   'rs12036633',
   'rs12753144',
   'rs114426198',
   'rs528828012',
   'rs547068037',
   'rs74462459',
   'rs10916856',
   'rs36051242',
   'rs113919494',
   'rs530656313',
   'rs12135548',
   'rs10916857',
   'rs77105150',
   'rs2985313',
   'rs184730807',
   'rs34530426',
   'rs7515308',
   'rs7552496',
   'rs12145181',
   'rs12145203',
   'rs12086615',
   'rs10916858',
   'rs74737401',
   'rs61778530',
   'rs150976169',
   'rs7552264',
   'rs10916859',
   'rs79966024',
   'rs146611843',
   'rs79364905',
   'rs67190425',
   'rs77691753',
   'rs611658',
   'rs115548495',
   'rs7548269',
   'rs114818864',
   'rs1408409',
   'rs35833017',
   'rs7548649',
   'rs12133972',
   'rs150815851',
   'rs78979241',
   'rs1977296',
   'rs1985278',
   'rs41265093',
   'rs116463530',
   'rs79626815',
   'rs193164083',
   'rs549786094',
   'rs12727835',
   'rs192110199',
   'rs12738072',
   'rs76580450',
   'rs72650901',
   'rs16860466',
   'rs75097490',
   'rs116080492',
   'rs17408249',
   'rs3736880',
   'rs651085',
   'rs651538',
   'rs17408347',
   'rs55961051',
   'rs147923978',
   'rs57295735',
   'rs3767237',
   'rs589755',
   'rs183185071',
   'rs547575690',
   'rs115269315',
   'rs10493001',
   'rs113407297',
   'rs2274120',
   'rs553505615',
   'rs556987867',
   'rs76853579',
   'rs10916861',
   'rs141192621',
   'rs12735393',
   'rs79476497',
   'rs495522',
   'rs1021077',
   'rs33936601',
   'rs41312004',
   'rs35225576',
   'rs12137203',
   'rs201069129',
   'rs372049250',
   'rs57693943',
   'rs574459999',
   'rs35767045',
   'rs12123093',
   'rs76287880',
   'rs3856173',
   'rs543080138',
   'rs188506835',
   'rs67571911',
   'rs116742440',
   'rs10753505',
   'rs61309203',
   'rs79639837',
   'rs13376428',
   'rs10916863',
   'rs146356690',
   'rs12725820',
   'rs12726111',
   'rs35983948',
   'rs4233274',
   'rs3927683',
   'rs3927684',
   'rs76524868',
   'rs1152999',
   'rs1152998',
   'rs35895127',
   'rs190332682',
   'rs149626316',
   'rs3125161',
   'rs116139439',
   'rs143514024',
   'rs3125160',
   'rs3121071',
   'rs77406669',
   'rs61781067',
   'rs61781068',
   'rs184024153',
   'rs61781069',
   'rs564338733',
   'rs12565504',
   'rs34126513',
   'rs144569614',
   'rs74522845',
   'rs146669269',
   'rs75681827',
   'rs12030051',
   'rs12734856',
   'rs6663529',
   'rs113524475',
   'rs79156934',
   'rs10916865',
   'rs186152868',
   'rs537510272',
   'rs371763020',
   'rs7520481',
   'rs139177133',
   'rs34814692',
   'rs10753506',
   'rs77112910',
   'rs533053204',
   'rs138119639',
   'rs530556673',
   'rs187673553',
   'rs376510824',
   'rs201208981',
   'rs12751516',
   'rs191580524',
   'rs12125938',
   'rs10916870',
   'rs577805127',
   'rs34997349',
   'rs35569463',
   'rs542661394',
   'rs12126757',
   'rs7532687',
   'rs75532916',
   'rs181873847',
   'rs75505577',
   'rs935918',
   'rs148956977',
   'rs72652912',
   'rs2100382',
   'rs187576331',
   'rs116064032',
   'rs71647170',
   'rs77560484']),
 (2180,
  ['rs2171838',
   'rs74392232',
   'rs755536',
   'rs755534',
   'rs755535',
   'rs192356810',
   'rs902179',
   'rs12512574',
   'rs72707722',
   'rs72707723',
   'rs73874459',
   'rs115151550',
   'rs55752756',
   'rs58825159',
   'rs6854996',
   'rs72707725',
   'rs114748129',
   'rs72707727',
   'rs11938887',
   'rs570359415',
   'rs11934173',
   'rs11935201',
   'rs72707728',
   'rs77320866',
   'rs2090591',
   'rs191852191',
   'rs12644905',
   'rs1056896',
   'rs8086',
   'rs577129378',
   'rs2292899',
   'rs184712099',
   'rs76536858',
   'rs11933776',
   'rs34416324',
   'rs56002880',
   'rs55712657',
   'rs116578666',
   'rs28595757',
   'rs1878873',
   'rs191215861',
   'rs142843859',
   'rs4577621',
   'rs13137387',
   'rs201786552',
   'rs141504824',
   'rs72707731',
   'rs10034312',
   'rs4861631',
   'rs7679890',
   'rs528350693',
   'rs112535963',
   'rs574425702',
   'rs55830512',
   'rs41278581',
   'rs72707735',
   'rs41278583',
   'rs41278585',
   'rs184636109',
   'rs148068219',
   'rs62338195',
   'rs3792316',
   'rs72707737',
   'rs2292898',
   'rs34107464',
   'rs142172978',
   'rs3792315',
   'rs114033753',
   'rs34197776',
   'rs3792314',
   'rs76916232',
   'rs3749233',
   'rs75219757',
   'rs3749232',
   'rs59902981',
   'rs12374289',
   'rs11727009',
   'rs11931782',
   'rs4862415',
   'rs72707739',
   'rs4862416',
   'rs75677627',
   'rs574653095',
   'rs62338196',
   'rs79018050',
   'rs77554021',
   'rs72695628',
   'rs10002538',
   'rs111355941',
   'rs72695629',
   'rs4862417',
   'rs3792313',
   'rs78159791',
   'rs4861632',
   'rs80004090',
   'rs116143768',
   'rs79872512',
   'rs186909442',
   'rs28454355',
   'rs140225250',
   'rs7691972',
   'rs55664922',
   'rs3792312',
   'rs3792311',
   'rs185593564',
   'rs72695633',
   'rs72695635',
   'rs191274380',
   'rs72695636',
   'rs62338197',
   'rs60241287',
   'rs112358311',
   'rs200405631',
   'rs41278587',
   'rs78251730',
   'rs113521945',
   'rs7683514',
   'rs4861633',
   'rs72695639',
   'rs28654407',
   'rs72695640',
   'rs62338201',
   'rs4069938',
   'rs4862418',
   'rs1803898',
   'rs7680850',
   'rs181993641',
   'rs533203277',
   'rs62338202',
   'rs191540449',
   'rs11931086',
   'rs141446403',
   'rs112114975',
   'rs2046814',
   'rs879779',
   'rs7695530',
   'rs62338203',
   'rs1873227',
   'rs1532126',
   'rs2102862',
   'rs547284081',
   'rs55720644',
   'rs7661585',
   'rs7683525',
   'rs77308816',
   'rs62338206',
   'rs7673894',
   'rs28522296',
   'rs74608952',
   'rs6855063',
   'rs77076410',
   'rs4862419',
   'rs58001059',
   'rs60780116',
   'rs4862421',
   'rs115462343',
   'rs72695644',
   'rs113357271',
   'rs7659090',
   'rs7681334',
   'rs148766655',
   'rs7659849',
   'rs28505088',
   'rs13137179',
   'rs6852479',
   'rs56076431',
   'rs74546805',
   'rs13144160',
   'rs75505186',
   'rs10022018',
   'rs72695645',
   'rs10022124',
   'rs28448828',
   'rs11942616',
   'rs1996546',
   'rs59169502',
   'rs7660927',
   'rs58055799',
   'rs60150344',
   'rs7686479',
   'rs141200778',
   'rs60175581',
   'rs116401167',
   'rs115657925',
   'rs111537480',
   'rs72695650',
   'rs72695652',
   'rs114426301',
   'rs56092939',
   'rs55881843',
   'rs55691245',
   'rs735949',
   'rs735948',
   'rs72695653',
   'rs72695654',
   'rs72695656',
   'rs72695658',
   'rs72695659',
   'rs112607117',
   'rs193066365',
   'rs72695661',
   'rs114125108',
   'rs55865328',
   'rs55923793',
   'rs57676210',
   'rs13127985',
   'rs61096205',
   'rs58730668',
   'rs56228947',
   'rs59612892',
   'rs745805',
   'rs72695664',
   'rs72695665',
   'rs12504993',
   'rs12504996',
   'rs12500973',
   'rs12500940',
   'rs115576904',
   'rs11132255',
   'rs56851466',
   'rs58898729',
   'rs56292771',
   'rs58515625',
   'rs116577687',
   'rs6552824',
   'rs6552825',
   'rs6552826',
   'rs72695672',
   'rs192378895',
   'rs114600853',
   'rs11936060',
   'rs11936062',
   'rs535193572',
   'rs11732302',
   'rs73875816',
   'rs13105565',
   'rs55818612',
   'rs78053654',
   'rs73012243',
   'rs142926085',
   'rs114493597',
   'rs141575795',
   'rs6552828',
   'rs6855716',
   'rs150940131',
   'rs4862423',
   'rs56376363',
   'rs55939217',
   'rs116369113',
   'rs12499544',
   'rs10471180',
   'rs902177',
   'rs10471181',
   'rs72695679',
   'rs13112568',
   'rs112511647',
   'rs7437957',
   'rs554819870',
   'rs540459604',
   'rs560694332',
   'rs10471182',
   'rs111880823',
   'rs13120078',
   'rs35340636',
   'rs13126272',
   'rs112592353',
   'rs12639729',
   'rs112986615',
   'rs4862424',
   'rs13126874',
   'rs55724214',
   'rs55704611',
   'rs184800583',
   'rs180795242',
   'rs143738562',
   'rs34348426',
   'rs142664372',
   'rs28535270',
   'rs112692314',
   'rs72695681',
   'rs4862425',
   'rs11726327',
   'rs146264824',
   'rs114939955',
   'rs34202162',
   'rs72695682',
   'rs62338219',
   'rs115559783',
   'rs72695684',
   'rs111738099',
   'rs7676928',
   'rs10010777',
   'rs13124672',
   'rs62338220',
   'rs72695685',
   'rs2280297',
   'rs182951173',
   'rs10003568',
   'rs62338221',
   'rs192937615',
   'rs72705293',
   'rs35357283',
   'rs10009339',
   'rs145211393',
   'rs9997745',
   'rs11932648',
   'rs143298771',
   'rs186163249',
   'rs138846317',
   'rs55844975',
   'rs71622982',
   'rs6832247',
   'rs6858297',
   'rs11132256',
   'rs114527473',
   'rs185788977',
   'rs9993625',
   'rs72705295',
   'rs6853210',
   'rs6858762',
   'rs144394394',
   'rs10011975',
   'rs144316771',
   'rs1554336',
   'rs2139178',
   'rs28701695',
   'rs11940804',
   'rs12503643',
   'rs67824824',
   'rs72705299',
   'rs12504478',
   'rs112231838',
   'rs116375145',
   'rs190062294',
   'rs56302210',
   'rs147169415',
   'rs4861634',
   'rs55713639',
   'rs9686055',
   'rs34309875',
   'rs56408923',
   'rs55988439',
   'rs6833829',
   'rs56226652',
   'rs6857027',
   'rs6856693',
   'rs6857505',
   'rs115395851',
   'rs28526229',
   'rs28709399',
   'rs56174235',
   'rs28582376',
   'rs12648071',
   'rs28654441',
   'rs12642074',
   'rs12642119',
   'rs12645247',
   'rs28579779',
   'rs28653438',
   'rs10002006',
   'rs10002013',
   'rs10002197',
   'rs62338224',
   'rs189774976',
   'rs10002300',
   'rs185234678',
   'rs7659706',
   'rs7659412',
   'rs7659714',
   'rs28479116',
   'rs11934776',
   'rs28472947',
   'rs75110539',
   'rs10027540',
   'rs10005356',
   'rs28433990',
   'rs78806120',
   'rs62338226',
   'rs6828518',
   'rs6828525',
   'rs6828892',
   'rs6829342',
   'rs6829776',
   'rs6830101',
   'rs6830111',
   'rs6830318',
   'rs6830347',
   'rs78540192',
   'rs74465934',
   'rs113264492',
   'rs74821721',
   'rs35681997',
   'rs10033885',
   'rs73875845',
   'rs79902115',
   'rs56202910',
   'rs137914084',
   'rs10017774',
   'rs10018008',
   'rs10018054',
   'rs36080963',
   'rs6827693',
   'rs149648628',
   'rs148722470',
   'rs78823366',
   'rs10021219',
   'rs147624271',
   'rs13127359',
   'rs62338229',
   'rs7658926',
   'rs74605198',
   'rs73875851',
   'rs75126452',
   'rs114937598',
   'rs73875853',
   'rs115863780',
   'rs62338230',
   'rs7690201',
   'rs76967694',
   'rs67469410',
   'rs76468995',
   'rs150274703',
   'rs60923760',
   'rs13103606',
   'rs58652236',
   'rs6818492',
   'rs57240775',
   'rs78716414',
   'rs34435656',
   'rs28488461',
   'rs28616813',
   'rs73875855',
   'rs73875856',
   'rs62338232',
   'rs73875857',
   'rs77272970',
   'rs72707125',
   'rs73875859',
   'rs76422159',
   'rs73875861',
   'rs139224774',
   'rs78854043',
   'rs182972719',
   'rs55849725',
   'rs61204231',
   'rs56082754',
   'rs55801938',
   'rs77246718',
   'rs75446495',
   'rs73875865',
   'rs34237618',
   'rs73875866',
   'rs34829317',
   'rs73875867',
   'rs77214964',
   'rs187117635',
   'rs72707127',
   'rs182699464',
   'rs12512699',
   'rs62338246',
   'rs143120598',
   'rs11132258',
   'rs72707130',
   'rs11132259',
   'rs12639823',
   'rs34653881',
   'rs66739414',
   'rs188707735',
   'rs34265628',
   'rs59674005',
   'rs4862426',
   'rs76171276',
   'rs4862427',
   'rs4862428',
   'rs13111368',
   'rs13111404',
   'rs6848592',
   'rs13139032',
   'rs12152574',
   'rs6853385',
   'rs34323865',
   'rs35562938',
   'rs12641551',
   'rs12641604',
   'rs13118918',
   'rs13119265',
   'rs13118754',
   'rs12649839',
   'rs10028525',
   'rs12649902',
   'rs4605699',
   'rs34030510',
   'rs36073531',
   'rs2046812',
   'rs2046813',
   'rs34552491',
   'rs12332007',
   'rs4862429',
   'rs28711909',
   'rs4862430',
   'rs4862431',
   'rs66921474',
   'rs114963084',
   'rs11737682',
   'rs11737726',
   'rs11737754',
   'rs11737825',
   'rs35943601',
   'rs6837920',
   'rs11725666',
   'rs35594363',
   'rs3796688',
   'rs3796687',
   'rs141884691',
   'rs3822126',
   'rs187852023',
   'rs4862432',
   'rs4862433',
   'rs62338251',
   'rs144295771',
   'rs1032300',
   'rs6852527',
   'rs6552829',
   'rs6552830',
   'rs6552831',
   'rs6552832',
   'rs6552833',
   'rs6835696',
   'rs7678261',
   'rs7700133',
   'rs6811050',
   'rs115678164',
   'rs6811074',
   'rs79051054',
   'rs557044975',
   'rs6836775',
   'rs11730208',
   'rs11132260',
   'rs59972619',
   'rs77476975',
   'rs4862434',
   'rs4862435',
   'rs4862436',
   'rs537505110',
   'rs10025765',
   'rs573430781',
   'rs545189709',
   'rs4862437',
   'rs7667067',
   'rs115495303',
   'rs28478646',
   'rs6824822',
   'rs6825195',
   'rs6825400',
   'rs13144344',
   'rs6856034',
   'rs6830690',
   'rs13144544',
   'rs10021050',
   'rs12650715',
   'rs569846739',
   'rs375786807',
   'rs13144862',
   'rs6831406',
   'rs138030626',
   'rs2727623',
   'rs7680609',
   'rs7680313',
   'rs28590029',
   'rs7681033',
   'rs6838432',
   'rs112097281',
   'rs111420399',
   'rs6552834',
   'rs34438587',
   'rs7677161',
   'rs72691787',
   'rs72691788',
   'rs73873106',
   'rs72691789',
   'rs7699399',
   'rs7699419',
   'rs55740236',
   'rs567216828',
   'rs539342790',
   'rs552860502',
   'rs13127525',
   'rs57959707',
   'rs59197935',
   'rs10014135',
   'rs111587091',
   'rs10024493',
   'rs137894917',
   'rs10014233',
   'rs10024579',
   'rs34008878',
   'rs66772971',
   'rs72691790',
   'rs28539610',
   'rs4862439',
   'rs112612473',
   'rs13142179',
   'rs6829140'])]

In [8]:
# Function to create a file for each cell type with gene names, GENE IDs, and corresponding rsIDs
def create_file_for_cell_type(cell_type, cell_type_genes, gene_to_rsid_mapping, directory):
    filename = f"{directory}/{cell_type}_genes_rsids.csv"
    with open(filename, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['Gene Name', 'GENE ID', 'rsIDs'])
        for gene_name, gene_id in cell_type_genes:
            rsids = gene_to_rsid_mapping.get(gene_id, ['No rsIDs found'])
            writer.writerow([gene_name, gene_id, '; '.join(rsids)])
    return filename

# Directory for saving files
output_directory = '/Downloads/cell_rsids'

# Generating files for each cell type
files = {}
for cell_type in significant_genes_ids_by_cell_type['Cell Type'].unique():
    cell_type_genes = significant_genes_ids_by_cell_type[
        significant_genes_ids_by_cell_type['Cell Type'] == cell_type
    ][['Gene Name', 'GENE ID']].values

    file_path = create_file_for_cell_type(cell_type, cell_type_genes, gene_to_rsid_mapping, output_directory)
    files[cell_type] = file_path

files

{'astrocytes': '/Users/simranjitvirk/Downloads/cell_rsids/astrocytes_genes_rsids.csv',
 'microglia': '/Users/simranjitvirk/Downloads/cell_rsids/microglia_genes_rsids.csv',
 'oligodendrocytes': '/Users/simranjitvirk/Downloads/cell_rsids/oligodendrocytes_genes_rsids.csv',
 'opc': '/Users/simranjitvirk/Downloads/cell_rsids/opc_genes_rsids.csv'}